.top_block {
    background: rgba(255, 255, 255, 0.8);
    position: sticky;
    top: 0;
    z-index: 30;
    height: 129px;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.top_menu {
    display: flex;
    align-items: center;
  	margin: 0 auto;
    height: 80px;
    position: relative;
    max-width: 1280px;
    width: min(100%, 1280px);
    margin-inline: max(0px, calc((100% - 1280px) / 2));
	/* padding: 0 20px; */
	width: 100%;

}

/* 메인타이틀, 검색박스 들어가는 div */
.title_search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* 왼쪽 정렬 */
    width: calc(100% - 100px);
  	gap: 20px;
    height: 40px;
   
    /* 전체 너비 사용 */

}

/* 메인 타이틀 */
.title {
    font-size: 32px;
    text-decoration: none;
    white-space: nowrap;
}

.title:link {
    color: black;
}

.title:visited {
    color: black;
}

/* 검색창 */


.search {
    flex: 0 1 450px;
    min-width: 150px;
}

.search form {
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    display: flex;
    align-items: center;
    background-color: #F6F6F6;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
}

.search form:focus-within {
    border-color: #9832a8;
    border-style: solid;
    border-width: 2px;
}

.search_word:focus {
    outline: none;
}

.search_word {
    width: 100%;
    max-width: 100%;
    height: 36px;
    border-radius: 4px;
    padding-left: 10px;
    border-style: none;
    font-size: 14px;
    background-color: #F6F6F6;
}

/* 상단 우측 메뉴(로그인) */
.top_right_menu {
    display: flex;
    gap: 2px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.login {
    font-size: 18px;
    font-weight: 600;
}

.login:link {
    text-decoration: none;
    color: #9832a8;
}

.login:visited {
    color: #9832a8;
}


/* 카테고리 */
.categories {
    display: inline-block;
    align-items: center;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    border-style: solid;
    border-color: rgb(229, 231, 235);
    border-width: 1px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    color: #9832a8;
    font-weight: 600;
}

.categories:hover .dropdown-content {
    display: block;
}


.dropright {
    position: relative;
}

.dropright-content {
    display: none;
    position: absolute;
    top: -1px;
    left: 100%;
    min-width: 160px;
    background-color: white;
    border-style: solid;
    border-color: rgb(229, 231, 235);
    border-width: 1px;
}

.dropright:hover .dropright-content {
    display: block;
}

/* 하단 메뉴(크기를 줄일때 카테고리 부분이 하단으로 내려감) */
.bottom_menu {
    display: grid;
    height: 55px;
    width: 100%;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    position: fixed;
    bottom: 0;
    display: none;
    z-index: 1;
    background-color: white;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}

.item:link {
    color: #8c8c8c;
}

.item:visited {
    color: #8c8c8c;
}

 /* 로그인 후 우상단에 메세지 버튼 */
 .messagebox {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
}

.messagebox :hover {
    background-color: #ddd;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    border-color: #ddd;
}

.messagebox a:link{
	color: black;
}

.messagebox a:visited{
	color: black;
}

/* 로그인 후 내 닉네임을 누르면 메뉴가 드롭다운 */

.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    max-width: 160px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 6px;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #ddd;
}

.dropdown_mypage {
    position: relative;
    display: inline-block;
}

.dropdown-content-mypage {
    display: none;
    position: absolute;
    background-color: white;
    width: 200px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content-mypage a {
    color: #686868;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.dropdown_mypage a:hover {
    background-color: #ddd;
}

.show {
    display: block;
    right: 0;
    margin-top: 10px;
    border-radius: 6px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
}

 


@media(max-width : 768px) {

    .title {
        font-size: 22px;
    }


    .title_search {
        width: calc(100% - 80px);
    }

    .search {
    	flex: 0 1 400px;
        min-width: 120px;
    }

    .search_word {
        width: 100%;
    }

    .login {
        display: none;
    }

	.top_right_menu{
		gap: 0;
	}
   
   
   .messagebox{
   		padding: 0;
   }

    .dropdown_mypage {
        display: none;
    }
    
    .bottom_menu {
        display: grid;
    }

    .dropdown_mypage {
        display: none;
    }

    .bottom_menu {
        display: grid;
    }

    footer {
        margin-bottom: 60px;
        /* bottom menu의 높이만큼 */
    }
}


@media(max-width : 425px) {
            

    
    .title_search{
    	gap: 2px;
    }
    
    .title {
        font-size: 18px;
    }
    
    .search {
        flex: 0 1 200px;
        min-width: 100px;
    }
    
    .search form {
        max-width: 100%;
    }

}