<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.SellerLessonMapper">
	<select id="findSoldLessonsBySeller"
		resultType="com.example.demo.model.SellerLesson">
		SELECT
		l.lesson_number,
		l.lesson_title,
		l.lesson_thumbnail,
		CONCAT(
		l.start_date, ' ',
		LPAD(l.start_hour, 2, '0'), ':',
		LPAD(l.start_min, 2, '0')
		) AS start_time, -- 별칭 수정
		p.payment_date,
		p.payment_nickname,
		p.member_email AS
		buyer_email,
		p.payment_number
		FROM
		lesson l
		JOIN
		payment p
		ON
		l.lesson_number = p.lesson_number
		WHERE
		l.member_email = #{email}  <!-- 판매자 
			이메일 -->
		AND p.payment_state = 1    <!-- 결제 완료 상태 -->
	</select>




</mapper>
